@keyframes vertical-bounce {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(0px, -3px);
    }

    50% {
        transform: translate(0px, -6px);
    }

    75% {
        transform: translate(0px, -3px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}