html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Open Sans';
}

.scroll-custom::-webkit-scrollbar {
    background-color: transparent;
    width: 9px;
    height: 9px;
}

.scroll-custom::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}